<section class="section">
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container content page">
    <div class="one-whole column">
      <h1>{{ page.title }}</h1>
      <div class="feature_divider"></div>
    </div>
    {% render 'page-multi-column', content: page.content %}
  </div>
</section>
